In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importing  excel file
file=pd.read_excel('C:/Users/RHESUS MONKEY/Desktop/New folder (2)/SHG_Booking_Data.xlsx')
file

,Booking ID,Hotel,Booking Date,Arrival Date,Lead Time,Nights,Guests,Distribution Channel,Customer Type,Country,Deposit Type,Avg Daily Rate,Status,Status Update,Cancelled (0/1),Revenue,Revenue Loss,Unnamed: 17
0,1,Resort,2014-07-24,2015-07-01,342,0,2,Direct,Transient,Portugal,No Deposit,0.00,Check-Out,2015-07-01,0,0.00,0.0,NaN
1,2,Resort,2013-06-24,2015-07-01,737,0,2,Direct,Transient,Portugal,No Deposit,0.00,Check-Out,2015-07-01,0,0.00,0.0,NaN
2,3,Resort,2015-06-24,2015-07-01,7,1,1,Direct,Transient,United Kingdom,No Deposit,75.00,Check-Out,2015-07-02,0,75.00,0.0,NaN
3,4,Resort,2015-06-18,2015-07-01,13,1,1,Corporate,Transient,United Kingdom,No Deposit,75.00,Check-Out,2015-07-02,0,75.00,0.0,NaN
4,5,Resort,2015-06-17,2015-07-01,14,2,2,Online Travel Agent,Transient,United Kingdom,No Deposit,98.00,Check-Out,2015-07-03,0,196.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119386,City,2017-08-07,2017-08-30,23,7,2,Offline Travel Agent,Transient,Belgium,No Deposit,96.14,Check-Out,2017-09-06,0,672.98,0.0,NaN
119386,119387,City,2017-05-21,2017-08-31,102,7,3,Online Travel Agent,Transient,France,No Deposit,225.43,Check-Out,2017-09-07,0,1578.01,0.0,NaN
119387,119388,City,2017-07-28,2017-08-31,34,7,2,Online Travel Agent,Transient,Germany,No Deposit,157.71,Check-Out,2017-09-07,0,1103.97,0.0,NaN
119388,119389,City,2017-05-14,2017-08-31,109,7,2,Online Travel Agent,Transient,United Kingdom,No Deposit,104.40,Check-Out,2017-09-07,0,730.80,0.0,NaN
119389,119390,City,2017-02-05,2017-08-29,205,9,2,Online Travel Agent,Transient,Germany,No Deposit,151.20,Check-Out,2017-09-07,0,1360.80,0.0,NaN

In [3]:
pd.set_option('precision', 2)
file.describe()

,Booking ID,Lead Time,Nights,Guests,Avg Daily Rate,Cancelled (0/1),Revenue,Revenue Loss,Unnamed: 17
count,119390.00,119390.00,119390.00,119390.00,119390.00,119390.00,119390.00,119390.00,0.0
mean,59695.50,104.01,3.43,1.97,101.83,0.37,247.93,-109.92,NaN
std,34465.07,106.86,2.56,0.72,50.54,0.48,300.92,277.10,NaN
min,1.00,0.00,0.00,0.00,-6.38,0.00,-63.80,-6300.00,NaN
25%,29848.25,18.00,2.00,2.00,69.29,0.00,0.00,0.00,NaN
50%,59695.50,69.00,3.00,2.00,94.58,0.00,176.00,0.00,NaN
75%,89542.75,160.00,4.00,2.00,126.00,1.00,342.98,0.00,NaN
max,119390.00,737.00,69.00,55.00,5400.00,1.00,7590.00,0.00,NaN

In [12]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importing  excel file
file=pd.read_excel('C:/Users/RHESUS MONKEY/Desktop/New folder (2)/SHG_Booking_Data.xlsx')
booking_id=file['Booking ID']
hotel=file['Hotel']
guests=file['Guest']
nights=file['Night']
avg_daily_rate=['average daily rate']
cancelled=['Cancelled']
revenue=file['Revenue']
revenue_loss=['Revenue Loss']

KeyError: 'Guest'

In [4]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importing  excel file
file=pd.read_excel('C:/Users/RHESUS MONKEY/Desktop/New folder (2)/SHG_Booking_Data.xlsx')
booking_id=file['Booking ID']
hotel=file['Hotel']
guests=file['Guests']
nights=file['Nights']
avg_daily_rate=['Avg daily rate']
cancelled=['Cancelled']
revenue=file['Revenue']
revenue_loss=['Revenue Loss']



revenue

0            0.00
1            0.00
2           75.00
3           75.00
4          196.00
           ...
119385     672.98
119386    1578.01
119387    1103.97
119388     730.80
119389    1360.80
Name: Revenue, Length: 119390, dtype: float64

In [6]:
values,frequencies=np.unique(hotel, revenue)
title=f'Comparison of the hotels and revenues'
sns.setstyle('whitegrid')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().